.pageHeader{
    height: 50px;
}
.paddleft{
  padding-left: 0px !important;
}
.padd0{
  padding: 0px;
}
.marTop{
  margin-top: 6px;
}
.wid260{
  width: 260px !important;
  margin-right: 5px;
}
.marLeft{
  margin-left: 25px;
  padding-bottom: 5px;
}
.paddLeft5{
  padding-left:7px;
}
.noneAtag{
    
    padding-left: 0px !important;
    background: none !important;
}
.dropdown:hover .dropbtn{
  background: transparent!important;
}
.nomargin{
  margin: 0px;
}
.arrowbtn{
  color: #fff !important;
  background: none;
}
.topmargin{
  margin-top: 20px;
}
.topmargin:hover{
  background: none;
}
.nopadd{
padding: 5px 5px !important;
}
.btnpadd{
  padding: 0px 0px !important;
    background: none !important;
}
.cmpysethdr{
  padding-left: 20px;
}
.fonticonshdr{
  font-size: 14px;
  color:#888;
}
.compannysethdr{
  color:  #0275d8;
  font-size: 12px;
  cursor: pointer;
}
.borderline{
  border: 1px solid #aaa;
  margin: 0px !important;
}
.profilefoot{
  padding: 10px 5px;
  background: #f2f2f2;
  height: 50px;
  padding-bottom: 0px;
}
.profileTitle{
  cursor: pointer;
}
.headicon{
    font-size: 1.1vw;
    font-weight: bold;
    padding-top: 20px;
    color: #fff;
    cursor: pointer;
}
.hover:hover{
    background-color: #367fa9;
    height: 50px;
}
.img{
    position: absolute;
    top: 15px;
    height: 25px;
}
.labelhead{
    position: absolute;
    top: 11px;
    /*text-align: center;*/
    font-size: 0.9vw;
    padding: 2px 3px;
    /*line-height: .9;*/

}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  /*top: 50px;*/
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
 /* padding-top: 60px;*/
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  /*.sidenav {padding-top: 15px;}*/
  .sidenav a {font-size: 18px;}
}
.barbtn{
   padding-top: 20px;
  padding-bottom: 15px;
  padding-left: 5px
}
.smallmar{
 
  margin-left: 228px;
  transition: all 0.8s ease 0s;
}
#mysidenav{
      transition: all 0.8s ease 0s;
      z-index: 100;

}

#headerid{
  position: absolute;
  width: 100%;
  right: 0px;
  transition: all 0.8s;
  }


/*new css*/

#sidebarLogo.active .sidebar-header h4,  #sidebarLogo.active .CTAs {
    display: none;
}

#sidebarLogo.active .sidebar-header strong {
    display: block;
}

#sidebarLogo .sidebar-header {
    padding: 4px;
    background: #222;
}

#sidebarLogo .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebarLogo .sidebar-header h3, #sidebarLogo .CTAs {
        display: none;
    }

#sidebarLogo .sidebar-header strong {
        display: block;
    }
