.App {
/*  text-align: center;
*/}
.cameraimg{
  color: #000;
  font-size: 30px;
  margin-right: 80px;
}

/*html *
{
   font-family:'Roboto', sans-serif !important;
}*/
#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}
#sidebar {
    min-width: 228px;
    max-width: 230px;
    background: #333;
    color: #fff;
    transition: all 0.80s;
}
.pointerCls{
  cursor: pointer;
}
.mar0{
  margin: 0px !important;
}
.zeropadd{
  padding: 0px !important;
}
.marbtm30{
  margin-bottom: 30px;
}
.tablebox{
  margin-top: 30px;
}
.leftmar{
  margin-left: 10px;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
.zzero{
  z-index: 0!important;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
#sidebar{
  height: 100vh!important;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*--------------------------background colors of admin page -----------*/

.headerbackgroundcolor
{
    background-color: #3c8dbc;
  }
.longmar{

  margin-left: 82px !important;
  transition: all 0.8s ease 0s;
}
.smallmar{
 
  margin-left: 228px;
  transition: all 0.8s ease 0s;
}
  .dashboardeffect
{
    width: 94.2%!important;
  }
.leftsidebarbackgroundcolor{
  position: fixed!important;
  left: 15px;
}

.dasbordbackgroundcolor{
  background-color: #eee;
  height:au;
}

.emptyclass{
  height: 100px;
}
.kbhj{

}
